.con {
	position: fixed;
	top: 0;
	width: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--font-dark-color);
	/* overflow: hidden; */
}
.con * {
	flex-shrink: 0;
}

.board {
	width: 100vh;
	height: 80vh;
	min-width: 64rem;
	min-height: 36rem;
	background-color: var(--bg-light-color);
	border-radius: var(--radius);
	padding: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.col {
	position: relative;
	width: calc(50% - 0.5rem);
	flex-shrink: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.col:first-child {
	margin-right: 1rem;
}
.colTitle {
	width: 100%;
	font-size: 1.2rem;
	line-height: 1.2rem;
	height: 3rem;
	font-weight: bold;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 1rem;
	color: var(--font-gray-color);
}
.colTitle > div {
	margin-bottom: 0.5rem;
}

.colTitle > div.restart {
	display: flex;
	line-height: 1rem;
	margin-bottom: 0;
	margin-left: 1rem;
	font-weight: 400;
	font-size: 1rem;
	user-select: none;
	cursor: pointer;
	padding: 0.5rem;
	border-radius: 5px
}
.restart:hover {
	color: var(--font-dark-color);
	background-color: var(--bg-gray0-color);
}
.spaceholder {
	flex-grow: 1;
	flex-shrink: 1;
}
.lang {
	font-weight: 400;
	cursor: pointer;
	user-select: none;
	margin-right: 1rem;
}
.lang.en {
	width: 4rem;
	margin-left: 1rem;
	margin-right: 0;
}
.lang:hover {
	font-weight: bold;
}
.lang.selected {
	color: var(--font-dark-color);
	font-weight: bold;
}
.regene {
	cursor: pointer;
	user-select: none;
	color: var(--theme-color);
	font-weight: 400;
}

.chatCon {
	background-color: var(--bg-gray0-color);
	flex-grow: 1;
	flex-shrink: 1;
	padding: 1rem;
	width: 100%;
	height: calc(100% - 4rem);
	border-radius: var(--radius);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.chatMsgCon {
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-y: overlay;

	text-align: left;
}
.chatMsgCon::-webkit-scrollbar-thumb {
	border: none;
	border-radius: 3px;
	/* border-color: var(--bg-g
    ray0-color); */
}
.chatMsgCon::-webkit-scrollbar {
	width: 6px;
}
.chatMsgRow {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 1rem;
}
.chatMsgRow.user {
	flex-direction: row-reverse;
}
.avatar {
	height: 3rem;
	width: 3rem;
	border-radius: 1.5rem;
	overflow: hidden;
	/* background: var(--bg-gray2-color); */
	margin-right: 1rem;
	margin-left: 0;
}
.avatar img {
	height: 3rem;
	width: 3rem;
}
.user .avatar {
	margin-left: 1rem;
	margin-right: 0;
}

.bubble {
	/* margin: 0 1rem; */
	padding: 0.75rem 1rem;
	line-height: 1.5rem;
	flex-shrink: 1;
	background: var(--bg-theme-color);
	border-radius: var(--radius);
	word-break: break-all;
	white-space: pre-wrap;
	margin-right: 1rem;
}
.bubble.unactive {
	background: var(--bg-gray1-color);
}
.user .bubble {
	background: var(--bg-light-color);
	margin-right: 0;
	margin-left: 1rem;
}
.chatIptCon {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.chatTipsCon {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	margin-top: 1rem;
}
.chatTipsCon::-webkit-scrollbar-thumb {
	border-color: var(--bg-gray0-color);
}
.chatTips {
	padding: 1rem;
	width: 15.5rem;
	background: var(--bg-light-color);
	border-radius: var(--radius);
	margin-right: 1rem;
	text-align: left;
	word-break: break-all;
	white-space: pre-wrap;
	cursor: pointer;
}
.chatTips:last-child {
	margin-right: 0;
}

.chatRowCon {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 1rem;
}

.iptLineCon {
	margin-right: 1rem;
	text-align: left;
	line-height: 1.5rem;
	flex-grow: 1;
	flex-shrink: 1;
	position: relative;
}
.iptSpaceholder {
	visibility: hidden;
	padding: 0.75rem 1rem;
	max-height: calc(9rem + 2px);
	border: 1px solid transparent;
	word-break: break-all;
	white-space: pre-wrap;
}
.ipt {
	background: var(--bg-light-color);
	border-radius: var(--radius);
	padding: 0.75rem 1rem;
	word-break: break-all;
	white-space: pre-wrap;
	overflow-y: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.ipt::-webkit-scrollbar-thumb {
	border-color: var(--bg-light-color);
}
.btn {
	height: calc(3rem - 2px);
	line-height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: var(--theme-color);
	border-radius: 1.5rem;
	padding: 0 1.5rem;
	user-select: none;
	cursor: pointer;
	font-weight: bold;
	border: 1px solid var(--theme-color);
}
.btn:hover {
	background: transparent;
	color: var(--theme-color);
}
.con .btn.disabled {
	cursor: not-allowed;
	background: var(--bg-gray2-color);
	border-color: var(--bg-gray2-color);
	color: var(--font-light-color);
}
.iptArea {
	height: 12rem;
	width: 100%;
	background: var(--bg-gray0-color);
	border-radius: var(--radius);
	padding: 1rem;
	text-align: left;
	margin-bottom: 1rem;
}
.iptArea::-webkit-scrollbar-thumb {
	border-color: var(--bg-gray0-color);
}
.generateBtn {
	width: 100%;
	margin-bottom: 1rem;
}
.candidateCon {
	width: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	overflow-y: overlay;

	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 1rem;
	background-color: var(--bg-gray0-color);
	border-radius: var(--radius);
}
.candidateCon::-webkit-scrollbar-thumb {
	border-color: var(--bg-gray0-color);
}

.candidateCol {
	position: relative;
	width: calc((100% - 2rem) / 3);
	margin-right: 1rem;
}
.candidateCol:last-child {
	margin-right: 0;
}

.candidateCol img {
	width: 100%;
	margin-bottom: 1rem;
	border-radius: var(--radius);
	cursor: pointer;
}

.creatorCon {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin-bottom: 1rem;
	width: 100%;
}
.creatorInfoCon {
	text-align: left;
}
.creatorName {
	line-height: 1.8rem;
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--font-dark-color);
}
.creatorInfo {
	line-height: 1.2rem;
	font-size: 1rem;
	color: var(--font-gray-color);
}
.likeCon {
	width: 3rem;
	height: 3rem;
	border-radius: var(--radius);
	background-color: var(--bg-gray0-color);
	color: var(--bg-gray1-color);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
	font-size: 1.2rem;
}
.likeCon.like {
	background-color: #fa2d5380;
	color: #fa2d53;
}

.modelView {
	flex-shrink: 1;
	flex-grow: 1;
	width: 100%;
	background: var(--bg-gray0-color);
	border-radius: var(--radius);
	overflow: hidden;
	border-radius: var(--radius);
}

.modelInfoCon {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.progressInfo {
	width: 100%;
	margin-bottom: 0.5rem;
}
.progressTrack {
	width: 100%;
	height: 4px;
	border-radius: 2px;
	position: relative;
	background: var(--bg-light-color);
}
.progressThumb {
	height: 4px;
	border-radius: 2px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--theme-color);
}

.modelPrompt {
	margin-top: 1rem;
	width: 100%;
	min-height: 3rem;
	background: var(--bg-light-color);
	border-radius: var(--radius);
	padding: 1rem;
	word-break: break-all;
	white-space: pre-wrap;
}

.dot {
	animation: blink 1s linear infinite;
  }
  
  @keyframes blink {
	0% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  
