.con {
	position: fixed;
	top: 0;
	width: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(67, 67, 67);
}
.board {
	width: 70vw;
	height: 70vh;
	background-color: white;
	border-radius: 5px;
}
