.con {
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	padding: var(--side-gap);
	background: black;
	box-shadow: -5px 0 20px 0 rgba(255, 255, 255, 0.2);
    z-index: 9;
}
.close {
	user-select: none;
	cursor: pointer;
}
