.con {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 15rem;
}

.title {
	font-size: 5rem;
	font-weight: bolder;
	line-height: 5rem;
	margin-bottom: 1.5rem;
}

.ipt {
	margin-top: 3rem;
	outline: none;
	border: none;
	width: 50rem;
	height: 4rem;
	border-radius: 2rem;
	padding: 0 2rem;
	margin-bottom: 1rem;
}
.btnCon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	height: 3rem;
	width: 9rem;
	line-height: 1rem;
	border: 1px solid #ffffff88;
	user-select: none;
	border-radius: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.btn:last-child {
	background: linear-gradient(blue, red);
	border: none;
	margin-left: 3rem;
}
