.con {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 15rem;
}

.con img {
	position: absolute;
	top: 0;
	left: 20vw;
	width: 50vw;
	z-index: -1;
}

.title {
	font-family: 'Courier New';
	font-size: 5rem;
	font-weight: bold;
	line-height: 5rem;
	margin-bottom: 1.5rem;
	color: white;
}

.iptCon {
	margin-top: 3rem;
	margin-bottom: 2rem;
	width: 35rem;
	height: 4rem;
	border-radius: 2rem;
	background: var(--bg-light-color);

	display: flex;
	align-items: center;
	justify-content: space-between;
}
.iptCon img {
	position: static;
	height: 2rem;
	width: 2rem;
	z-index: 0;
	margin-right: 1rem;
}
.ipt {
	outline: none;
	border: none;
	height: 100%;
	flex-grow: 1;
	border-radius: 2rem;
	padding: 0 2rem;
	font-size: 1rem;
	color: var(--font-dark-color);
}
.ipt::placeholder {
	font-size: 1rem;
}
.btnCon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	height: 3rem;
	width: 9rem;
	line-height: 1rem;
	border: 1px solid #8f8f8f;
	user-select: none;
	border-radius: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.btn:last-child {
	background: linear-gradient(#4a00e0, #870000);
	border: none;
	margin-left: 3rem;
}

.btn.disabled {
	cursor: not-allowed;
}
.btn:hover {
	color: #ffffff;
}
