.dialog-card {
  width: 850px;
  height: 560px;
  box-shadow: 0 3px 12px 1px rgb(145 145 145 / 16%);
  border-radius: 8px;
  opacity: 1;
}

.dialog-card-editable-heading {
  height: 17px;
  font-size: 16px;
  font-weight: bold;
  color: #aaa;
  line-height: 0px;
}

.dialog-card-editable-text {
  font-size: 14px;
  font-weight: 400;
  color: #1e1e1e;
  line-height: 20px;
  background: #f8f8f8;
  width: 374px;
  height: 103px;
  border-radius: 8px;
  opacity: 1;
}

.chat-area-card {
  width: 362px;
  height: 466px;
  border-radius: 8px;
  background: #f8f8f8;
}

.chat-bubble-wrapper {
  width: 362px;
  overflow-y: scroll;
}

.chat-area-card-heading {
  height: 17px;
  font-size: 16px;
  font-weight: bold;
  color: #aaa;
  line-height: 0px;
}

.chat-bubble-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #393939;
}

.chat-bubble-box-ai {
  background: #e7e3f1;
  border-radius: 8px;
  opacity: 1;
}

.chat-bubble-box-human {
  background: #fff;
  border-radius: 8px;
  opacity: 1;
}

.chat-bubble-box-disabled {
  background: #ececec;
  border-radius: 8px;
  opacity: 1;
}

.chat-bubble-place-holder {
  float: left;
  clear: both;
}

.chat-area-recommend {
  cursor: pointer;
}

.chat-area-input {
  background: #fff;
  color: #1e1e1e;
  border-style: solid;
  border-radius: 24px;
  opacity: 1;
  font-weight: 400;
  line-height: 0px;
}

.model-view-environment-box {
  width: 428px;
  height: 466px;
}

.model-view-author-name {
  font-size: 14px;
  font-weight: bold;
  color: #4b4b4b;
}

.model-view-status {
  font-size: 10px;
  font-weight: 400;
}

.model-view-share-button {
  font-size: 12px;
  font-weight: 400;
  color: #2d2d2d;
  line-height: 0px;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 15px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 7px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.scrollbar-thick::-webkit-scrollbar {
  width: 20px;
}

.scrollbar-thick::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar-thick::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 10px;
  border: 6px solid transparent;
  background-clip: content-box;
}
