.con {
	width: 100%;
	margin-top: var(--side-gap);
	padding: 0 var(--side-gap);
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.menuCon {
	/* display: flex; */
	width: max-content;
	margin-right: 2rem;
}

.menu {
	cursor: pointer;
	position: relative;
	height: 3rem;
	width: 6rem;
	border: 2px solid;
	border-radius: 1.5rem;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 1rem;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.menu:hover {
	color: #fff;
	background-color: var(--bg-gray3-color);
}

.menu.selected {
	color: #fff;
	border-color: #fff;
	background-color: var(--bg-gray3-color);
}

.close {
	position: absolute;
	cursor: pointer;
	user-select: none;
	width: 1rem;
	height: 1rem;
	color: var(--font-dark-color);
	right: 0.3rem;
	top: 0.9rem;
	text-align: center;
	line-height: 0.9rem;
	font-size: 1rem;
	backdrop-filter: blur(5px);
	color: #ffffff;
	transition: all 0.3s;
	opacity: 1;
	pointer-events: none;
}

/* 关闭X是否默认显示
.menu:hover .close {
	opacity: 1; 
	pointer-events: auto;
}
*/

.cardsCon {
	flex-grow: 1;
	flex-shrink: 1;
	max-width: calc(1600px + 9rem);
	max-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	overflow-y: auto;
	transition: opacity 0.3s ease;
	overflow-y: hidden;
	overflow-y: scroll;
	scrollbar-width: none; /* Firefox */
}

.cardsCon::-webkit-scrollbar {
	display: none;
  }

.cardsCon::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 8px;
	border: 5px solid;
	border-color: #121317;
}

.card {
	position: relative;
	width: 200px;
	height: 260px;
	margin-right: 1rem;
	margin-bottom: 1rem;
	border-radius: var(--radius);
	background-color: var(--bg-gray3-color);
	overflow: hidden;
	font-size: 0.75rem;
	cursor: pointer;
}

.more {
	width: 100%;
	cursor: pointer;
	height: 3rem;
	line-height: 3rem;
}

.more:hover {
	background-color: #00000050;
}

.coverImg,
.coverImg img {
	transition: transform 0.3s ease-in-out;
	width: 100%;
	height: 100%;
}

.card:hover .coverImg img {
	transform: scale(1.1);
}

.likeCon {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 2rem;
	height: 2rem;
	border-radius: var(--radius);
	background-color: #ffffff80;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.likeCon.like {
	background-color: #fa2d5380;
	color: #fa2d53;
}

.prompt {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	text-align: left;
	padding: 0 0.5rem;
	color: var(--font-dark-color);
	border-radius: var(--radius);
	background-color: #f8f8f880;
	word-break: break-all;
	white-space: pre-wrap;
	overflow: hidden;
	height: 0;
	max-height: 5rem;
	overflow-y: overlay;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.prompt::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.prompt::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 3px;
	border: none;
}

.prompt.show {
	height: fit-content;
	padding: 0.5rem;
}

.card:hover .prompt {
	opacity: 1;
}

.infoCon {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	padding: 0.5rem;
	color: var(--font-dark-color);
	border-radius: var(--radius);
	background-color: #f8f8f880;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: var(--font-dark-color);
}

.avatar,
.avatar img {
	width: 24px;
	height: 24px;
	border-radius: 12px;
	overflow: hidden;
}

.avatar {
	margin-right: 1rem;
}

.spaceholder {
	flex-shrink: 1;
	flex-grow: 1;
}

.skeleton {
	width: 200px;
	height: 260px;
	margin-right: 1rem;
	margin-bottom: 1rem;
	border-radius: var(--radius);
	background-color: var(--bg-gray3-color);
	overflow: hidden;
	font-size: 0.75rem;
	cursor: pointer;
	background: linear-gradient(90deg, #2f2f2f 25%, #232323 50%, #3d3d3d 75%);
	background-size: 200% 100%;
	animation: loading 1.5s infinite;
}

@keyframes loading {
	0% {
		background-position: 200% 0;
	}

	100% {
		background-position: -200% 0;
	}
}

.emptyContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	margin-bottom: 1rem;
	padding: 2rem;
	border-radius: var(--radius);

	background-color: rgba(0, 0, 0, 0.5);
}

.emptyContainer:hover {
	background-color: var(--bg-gray4-color);

}


@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.emptyList {
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	padding: 1rem;
	color: var(--font-light-color);
	animation: fadeIn 1s ease-in;
}