.App {
	text-align: center;
	--theme-color: #4a00e0;

	--font-dark-color: rgb(67, 67, 67);
	--font-gray-color: #aaa;
	--font-light-color: #cfcfcf;

	--bg-light-color: #fff;
	--bg-gray0-color: #f8f8f8;
	--bg-gray1-color: #ececec;
	--bg-gray2-color: #7c7c7c;
    --bg-gray3-color: #373737;
    --bg-theme-color: #E7E3F1;
	--bg-dark-color: #121317;

	--side-gap: 5rem;
	--radius: 0.5rem;
	--shadow: -10px 0px 12px 1px rgba(135, 135, 135, 0.16);
}
.App * {
	box-sizing: border-box;
	transition: all 300ms;
}

.App *::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
}

textarea {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border: 1px solid transparent;
	padding: 0;
	color: var(--font-dark-color);
	line-height: 1.5rem;
	font-size: 1rem;
	outline: none;
	resize: none;
}
textarea:focus {
	border-color: var(--theme-color);
}

img {
	user-select: none;
	-webkit-user-drag: none;
}
