.App {
	text-align: center;
	--theme-color: purple;

	--font-dark-color: rgb(67, 67, 67);
	--font-gray-color: #aaa;
	--font-light-color: #fff;

	--bg-light-color: #fff;
	--bg-gray0-color: #eee;
    --bg-gray1-color: #ddd;
	--bg-dark-color: #000;

	--side-gap: 5rem;
}
